extends layout

block content

  h1 增加学生信息
  form(method="post")
    姓名： 
    input(type="text", name="name")
    br
    br
    学号： 
    input(type="number", name="student_id")
    br
    br
    button(type="submit") 确定 