extends layout

block content
  ul
    each result in results
      li 姓名： #{result.name}， 学号：#{result.studentId}
  h2 操作
  a(href="/create") 增加
  a(href="/delete") 删除
  a(href="/update") 修改
  a(href="/reach") 查找
  